.imageContainer{
    width: 100%;
    display: flex;
    justify-content: center;
}

.topContainer{
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
    font-size:20px;
}

.carousel{
    margin: 50px 0;
}

.contentContainer{
    padding: 20px 100px;
}
.container{
    color:#fefefe;
    margin-bottom: 100px;
}